html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


/*---------------------------------------------------ESTILO BODY GERAL-----------------------------------------------*/

body {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Altura mínima da tela, mas permite crescer */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove paddings padrão */
    overflow-x: hidden; /* Evita rolagem horizontal, se necessário */
}

    body::before {
        content: '';
        position: fixed; /* Fixa o fundo para rolar com a página */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/images/fundo8.jpg);
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(9px);
        z-index: -1;
    }

    body::after {
        content: '';
        position: fixed; /* Fixa o gradiente para rolar com a página */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient( circle, rgba(73, 197, 182, 0.3) 10%, /* Cor #49c5b6 com opacidade */
        rgba(73, 197, 182, 0.8) 70%, /* Aumente a opacidade nas bordas */
        rgba(73, 197, 182, 1) 100% /* Cor sólida nas bordas */
        );
        opacity: 0.95; /* Ajuste a opacidade corretamente */
        backdrop-filter: blur(9px);
        z-index: -1;
    }

/*Título principal de todas as páginas*/
.titulo {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: #fc4a1a;
    font-weight: bold;
}

/*------------------------------------------------ESTILO MENU LATERAL--------------------------------------------------*/

.sidebar {
    width: 60px; /* Largura inicial pequena */
    height: 100vh;
    position: fixed;
    left: 0; /* Move o menu para a direita */
    top: 0;
    background-color: rgba(252, 74, 26, 1);
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1000; /* Garante que o menu fique acima de tudo */
    position: fixed; /* Mantém o menu fixo na tela */
}

    /* Pra expandir quando passar o mouse */
    .sidebar:hover {
        width: 200px;
    }

/* Ícone ? do menu */
.menu-icon {
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

/* Lista de navegação */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilo dos itens do menu */
.sidebar .nav-item {
    padding: 10px;
    text-align: left;
}

/* Ícones do menu */
.sidebar .nav-link i {
    font-size: 20px;
    margin-right: 10px;
}

/* Oculta o texto quando o menu está fechado */
.menu-text {
    display: none;
}

/* Exibe o texto ao expandir */
.sidebar:hover .menu-text {
    display: inline;
}

/*-----------------------------------ESTILO PÁGINA DE LOGIN-LEITOR---------------------------------------*/

/* Centralizar conteúdo */
.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 0 15px;
}

/* Caixa de login */
.form-login {
    background-color: rgba(255, 255, 255, 0.8); /* Transparência */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    backdrop-filter: blur(5px); /* Efeito de desfoque */
}

/* Título dentro do formulário */
.titulo-login {
    color: #49c5b6;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

/* Estilo para inputs */
.input-login-text, .input-login-pass {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9);
}

    .input-login-text:focus, .input-login-pass:focus {
        border-color: #49c5b6;
        outline: none;
    }

/* Botão de login */
.entrar {
    width: 40%;
    padding: 10px;
    background-color: #49c5b6;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/*Botão de ir para o inicio*/
.voltar {
    width: 40%;
    padding: 12px;
    background-color: #F7B733;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

    .entrar:hover, .voltar:hover {
        background-color: darkcyan;
        color: #49c5b6;
        font-weight: bold;
    }

/* Mensagem de erro do login */
.error-message-login {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

/* Área de registo */
.register-container {
    text-align: center;
    margin-top: 20px;
}

    .register-container a {
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

        .register-container a:hover {
            color: #fc4a1a;
            text-decoration: underline;
        }

.texto_registo {
    color: #fc4a1a;
    font-weight: bold;
}

/*----------------------------------------------ESTILO PÁGINA DAS OBRAS--------------------------------------------------*/

.titulo-obras {
    text-align: center;
    margin: 20px 0; /* Espaçamento abaixo do título */
}

/* Caixa de pesquisa */
.pesquisar_obra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

/* Tamanho do input pesquisa */
.input_pesquisa {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Botão de pesquisa */
.btn-pesquisar {
    padding: 10px 20px;
    background-color: #F7B733;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-pesquisar:hover {
        background-color: #49c5b6;
    }

/*Exibição das obras*/
.grid-obras {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
    transition: margin-left 0.3s; /* Suaviza a movimentação ao expandir o menu */
    z-index: 1; /* Garante que as obras fiquem abaixo do menu */
}

.card-obra {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    padding: 10px;
    text-align: center;
    position: relative;
}

    .card-obra:hover {
        transform: scale(1.05);
    }

/* Imagens das obras */
.imagem-container {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.imagem-obra {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Estilo do ícone de informação */
.info-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 14px;
    padding: 4px;
    background: transparent; /* Remove o fundo redondo */
    transition: background 0.3s;
}

    .info-icon:hover {
        background: rgba(0, 0, 0, 0.3);
    }

/* Caixa de informações oculta por padrão */
.info-tooltip {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 180px;
    text-align: left;
    font-size: 12px;
    z-index: 999; /* Faz a tooltip aparecer sobre os outros elementos */
}

/* Mostrar tooltip ao passar o mouse */
.info-icon:hover .info-tooltip {
    display: block;
}

/* Diminui o tamanho do título na caixa das obras */
.detalhes-obra h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}


/* Estilo botão "Requisitar" */
.btn-requisitar {
    background-color: #F7B733;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-requisitar:hover {
        background-color: #49c5b6;
    }

/* Modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 1060;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

/* Conteúdo da modal */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 15px; /* Bordas arredondadas */
    position: relative;
}

/* Botão de fechar (X) */
.close-requisicao {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/*------------------------------------------ESTILO PAG. REQUISIÇÕES E PAG. HISTÓRICO------------------------------------------------*/

/* Estilo para o filtro de núcleos */
.filtro-nucleo {
    margin: 20px auto;
    width: 90%;
    text-align: center;
}

    .filtro-nucleo label {
        font-size: 16px;
        margin-right: 10px;
        color: white;
        font-weight: bold;
    }

    .filtro-nucleo select {
        padding: 8px;
        border-radius: 25px;
        border: 1px solid #ccc;
        font-size: 14px;
    }

    .filtro-nucleo button {
        padding: 8px 16px;
        background-color: #F7B733;
        color: white;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        font-size: 14px;
    }

        .filtro-nucleo button:hover {
            background-color: #45a049;
        }

/* Estilo para a tabela */
.historico-table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

    .historico-table th, .historico-table td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .historico-table th {
        background-color: #F7B733;
        color: white;
    }

    .historico-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .historico-table tr:hover {
        background-color: #ddd;
    }

/* Estilos para os status da pág. REQUISIÇÕES */
.atraso {
    color: red;
    font-weight: bold;
}

.devolucao-urgente {
    color: orange;
    font-weight: bold;
}

.devolver-em-breve {
    color: green;
    font-weight: bold;
}

/* Mensagem de nenhum resultado */
.nenhum {
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.btn-devolver {
    background-color: #49c5b6;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

    .btn-devolver:hover {
        background-color: #F7B733;
    }

/* Estilos para os status da pág. HISTÓRICO */
.pendente {
    color: #FC4A1A;
    font-weight: bold;
}

.devolvido {
    color: darkcyan;
    font-weight: bold;
}

/*-----------------------------------------------------------------------------*/
