@page
@model BibliotecaXPTO.Pages.User.RegistarModel
@{
    ViewData["Title"] = "Registo - Leitor";
}

<div class="container">
    <form method="post">
        <h2>Registo - Leitor</h2>
        <input type="text" asp-for="Nome" placeholder="Nome Completo" required
               oninput="this.value = this.value.replace(/[^A-Za-zÀ-ÖØ-öø-ÿ\s]/g,'').replace(/\s{2,}/g, ' ')">
        <span class="text-danger" asp-validation-for="Nome"></span>


        <input type="date" asp-for="DataNascimento" value="2000-01-01" required min="1900-01-01" max="@DateTime.Today.ToString("yyyy-MM-dd")">
        <span class="text-danger" asp-validation-for="DataNascimento"></span>

        <input type="email" asp-for="Email" placeholder="Email" required
               pattern="@(@"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$")">
        <span class="text-danger" asp-validation-for="Email"></span>

        <input type="number" asp-for="Telefone" placeholder="Telefone" required min="1"
               oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0,9)">
        <span class="text-danger" asp-validation-for="Telefone"></span>

        <input type="text" asp-for="Username" placeholder="Nome de Utilizador" required
               oninput="this.value=this.value.replace(/\s/g,'')">
        <span class="text-danger" asp-validation-for="Username"></span>

        <input type="password" asp-for="PalavraPasse" placeholder="Palavra-passe" required>

        @* <input type="text" asp-for="Nome" placeholder="Nome Completo" required>
        <input type="date" asp-for="DataNascimento" required>
        <input type="email" asp-for="Email" placeholder="Email" required>
        <input type="text" asp-for="Telefone" placeholder="Telefone" required>
        <input type="text" asp-for="Username" placeholder="Nome de Utilizador" required>
        <input type="password" asp-for="PalavraPasse" placeholder="Palavra-passe" required> *@
        <button type="submit" class="botao-registar">Registar</button>

        @if (!string.IsNullOrEmpty(Model.MensagemRetorno))
        {
            <p class="success-message">@Model.MensagemRetorno</p>
        }
    </form>
</div>

<div class="login-container">
    <p>Já tem uma conta? <a href="/User/Login">Faça o login aqui</a>.</p>
</div>

<style>
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
    }

    form {
        background-color: #ffffff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        text-align: center;
    }

    h2 {
        color: #fc4a1a;
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 600;
    }

    input {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: #fafafa;
    }

    .botao-registar {
        width: 30%;
        padding: 12px;
        background-color: #F7B733;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .botao-registar:hover {
            background-color: darkcyan;
            color: #49c5b6;
        }

    .success-message {
        color: green;
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
    }

    .login-container {
        text-align: center;
        margin-top: 10px;
        color: rgba(252, 74, 26, 1);
        font-weight: bold;
    }

        .login-container a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

            .login-container a:hover {
                text-decoration: underline;
                color: rgba(252, 74, 26, 1);
            }
</style>

