@page
@model BibliotecaXPTO.Pages.Admin.Login_AdminModel
@{
    ViewData["Title"] = "Login - Admin";
}
<div class="container-login">
    <form method="post" class="form-login">
        <h2 class="titulo-login">Login - Bibliotecário</h2>
        <input type="text" asp-for="Username" placeholder="Email" class="input-login-text" required>
        <input type="password" asp-for="Password" placeholder="Senha" class="input-login-pass" required>
        <button type="submit" class="entrar">Entrar</button>
        <a asp-page="/Index" class="voltar">Ir para o início</a>

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p class="error-message">@Model.ErrorMessage</p>
        }
    </form>
</div>
