@page
@model IndexModel
@{
    ViewData["Title"] = "Pre-Login";
}

<div class="container-index text-center">
    <h1 class="">Bem-vindo à Biblioteca XPTO</h1>
    <div class="mt-4">
        <a asp-page="/User/Login" class="btn btn-primary btn-lg m-2 user">Sou Leitor</a>
        <a asp-page="/Admin/Login_Admin" class="btn btn-secondary btn-lg m-2 admin">Sou Bibliotecário</a>
    </div>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #f4f4f4;
        padding: 50px;
    }

    .container-index {
        max-width: 400px;
        margin: auto;
        background: white;
        padding: 40px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        border-radius: 10px;
        display: -ms-flexbox;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    h1 {
        color: #fc4a1a;
    }

    .buttons {
        margin-top: 20px;
    }

    .btn {
        display: block;
        text-decoration: none;
        padding: 10px;
        margin: 10px 0;
        border-radius: 25px;
        color: white;
        font-size: 16px;
        border: none;
    }

    .admin {
        background-color: #F7B733;
    }

    .user {
        background-color: #49c5b6;
    }

    .btn:hover {
        opacity: 0.8;
        background-color: darkcyan;
        color: #49c5b6;
    }
</style>

